@Model PROJET.models.CAT_PRODUIT
@{
    ViewBag.Title = "AjoutProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjoutProduit</h2>
<div>
    <form id="formProduit" name="formProduit" action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label> CATEGORIE</label>
                    <select id="CODE_CATEGORIE" name="CODE_CATEGORIE" class="form-control">
                        @foreach (var data in ViewBag.listeCategorie)
                        {
                            <option value="@data.CODDE_CATEGORIE">@data.LIBELLE_CATEGORIE</option>

                        }

                        <option>CATEGORIE 1</option>
                        <option>CATEGORIE 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>PRODUIT *</label>
                    <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
                </div>
            </div>


            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>DESCRIPTION</label>
                    <textarea id="DESCRIPTION_PRODUIT" name="DESCRIPTION_PRODUIT" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>IMAGE PRODUIT</label>
                    <input type="file" id="IMAGE_PRODUIT" name="IMAGE_PRODUIT" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />
        </div>
    </form>
    <hr />

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th> PRODUIT</th>
                <th>DESCRIPTION</th>
                <th>IMAGE</th>
                <th>CATEGORIE</th>
                <th>DATE SAISIE</th>
            </tr>

            @foreach (var data in ViewBag.listeProduit)
            {
                <tr>
                    <td>@data.LIBELLE_PRODUIT</td>
                    <td>@data.DESCRIPTION_PRODUIT</td>
                    <td><img src="@data.URL_IMAGE_PRODUIT/@data.IMAGE_PRODUIT" width="100" height="80" /> </td>
                    <td>@data.CAT_CATEGORIE.LIBELLE_CATEGORIE</td>
                    <td>@data.DATE_SAISIE</td>

                </tr>
            }
        </table>
    </div>
</div>
